#scroll-top {
    position: fixed;
    top: -120%;
    right: 0.5rem;
    padding: 0rem 0.2rem;
    font-size: 2rem;
    background: #61DAFB;
    color: #fff;
    transition: 1s linear;
    z-index: 1000;
  }
  
  #scroll-top.active {
    top: calc(100% - 4rem);
  }
  
  @media (max-width: 319px) and (min-width: 300px) {
    #scroll-top {
      font-size: 1rem;
      padding: 0.5rem 0.5rem;
    }
    #scroll-top.active {
      top: calc(100% - 7rem);
    }
  }
  @media (max-width: 550px) and (min-width: 320px) {
    #scroll-top {
      font-size: 1rem;
      padding: 0.5rem 0.5rem;
    }
    #scroll-top.active {
      top: calc(100% - 7rem);
    }
  }