.left-connector {
    width: 235px;
    height: 20px;
    background-color: #61DAFB;
    border-radius: 1rem;
    position: absolute;
    left: 355px;
    top: 30px;
    transform: rotate(13deg);
}
@media (max-width:1399px) and (min-width:1200px){
    .left-connector {
        width: 150px;
        transform: rotate(18deg);
    }
}