.right-connector {
    width: 300px;
    height: 20px;
    background-color: #61DAFB;
    border-radius: 1rem;
    position: absolute;
    right: 320px;
    top: -50px;
    transform: rotate(-35deg);
}
@media (max-width:1399px) and (min-width:1235px){
    .right-connector {
        width: 205px;
        transform: rotate(-40deg);
        top: -37px;
        right: 330px;
    }
}