.right-upper-container {
    width: 120px;
    height: 120px;
    border-radius: 5rem;
    background-color: #61DAFB;
    position: absolute;
    top: -220px;
    right: 250px;
    display: flex;
    transition: all  0.3s;
    cursor: pointer;
}

.right-upper-mid-container {
    width: 80px;
    height: 80px;
    background-color: aliceblue;
    border-radius: 4rem;
    align-items: center;
    margin: auto;
    display: flex;
}
.right-upper-inner-container{
    width: 60px;
    height: 60px;
    background-color: #61DAFB;
    border-radius: 4rem;
    align-items: center;
    margin: auto;
}

.right-upper-container:hover {
    width: 132px;
    height: 132px;
    transition: all  0.3s;
}

@media (max-width:1399px) and (min-width:1200px){
    .right-upper-container {
       
        top: -180px;
    }
}