.right-container {
    width: 120px;
    height: 120px;
    border-radius: 5rem;
    background-color: #61DAFB;
    position: absolute;
    top: 220px;
    right: 250px;
    display: flex;
    cursor: pointer;
    transition: all  0.3s;
}

.right-mid-container {
    width: 80px;
    height: 80px;
    background-color: aliceblue;
    border-radius: 4rem;
    align-items: center;
    margin: auto;
    display: flex;
}
.right-inner-container{
    width: 60px;
    height: 60px;
    background-color: #61DAFB;
    border-radius: 4rem;
    align-items: center;
    margin: auto;
}

.right-container:hover {
    width: 140px;
    height: 140px;
    transition: all  0.3s;
}